{% extends 'base.html.twig' %}

{% block title %}Page de  l'offre
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h3 text-center my-5">Description de l'offre</h1>

            <div class="card-deck mb-3 text-center">

                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ offer.title }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ offer.price }}€
                            {% if offer.type == "subscription" %}
                                <small class="text-muted">/ mois</small>
                            {% endif %}
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {{ offer.description | raw }}
                        </ul>
                        {% if app.user.ownThisOffer(offer) %}
                            <div class="alert alert-info text-center">
                                Vous possédez déjà cette offre.
                            </div>
                        {% else %}
                            <button
                                    style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                                    id="checkout-button-plan_Gi9oeeAXvfHGl1"
                                    role="link"
                            >
                                Acheter
                            </button>
                            <div id="error-message"></div>

                        {% endif %}

                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    (function() {
        var stripe = Stripe('{{ stripe_public_key }}');

        var checkoutButton = document.getElementById('checkout-button-plan_Gi9oeeAXvfHGl1');
        checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
                sessionId: '{{CHECKOUT_SESSION_ID}}'
            })
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });
    })();
</script>
{% endblock %}