{% set author = post.author %}

<div class="card mb-2 {% if isGranted.isGranted(author, 'ROLE_ADMIN') or post.isAdmin %} bg-primary {% endif %}">
	<div class="card-body">
		<div class="row">
			<div class="col-md-2">
				<img src="{{author.picture}}" alt="Avatar de {{author.pseudo}}" class=" img img-rounded img-fluid"/>
				<small class=" text-secondary text-center">{{post.createdAt | date('d/m/Y H:i')}}</small>
			</div>
			<div class="col-md-10">
				<p>
					<a class="float-left" href="#">
						<strong {% if isGranted.isGranted(author, 'ROLE_ADMIN') or post.isAdmin %} class="text-danger" {% endif %}>
							{{author.pseudo}}
						</strong>
					</a>
					{% if isGranted.isGranted(app.user, 'ROLE_ADMIN') %}
						<a href="{{ path('thread_post_delete', {'slug' : thread.slug, 'id' : post.id}) }}" class="float-right btn btn-danger text-white mb-3" onclick="return confirm(`Êtes vous sûr de vouloir supprimer le post ?`)">
							X
						</a>
					{% endif %}
				</p>

				<div class="clearfix"></div>
				<div class="{% if isGranted.isGranted(author, 'ROLE_ADMIN') or post.isAdmin %} text-white {% endif %}">

					{{post.content | raw}}

					{% if post.media %}

						<!-- Button trigger modal -->
						<button type="button" class="btn btn-lg" data-toggle="modal" data-target="#model{{post.id}}">
							<img src="{{vich_uploader_asset(post.media, 'imageFile', 'App\\Entity\\Media')}}" class="img-thumbnail" alt="Image du post de {{post.author.pseudo}}">


						</button>

						<!-- Modal -->
						<div class="modal fade" id="model{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="{{vich_uploader_asset(post.media, 'imageFile', 'App\\Entity\\Media')}}" style="max-height:100%; max-width:100%;" class="img" alt="{{post.author.pseudo}}">


									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>

					{% endif %}


				</div>
				<p>
					<a class="float-right btn btn-info text-white ml-2" data-target="{{author.pseudo}}" onclick="handleAnswering(this);">
						<i class="fa fa-reply"></i>
						Reply</a>
					<a class="float-right btn text-white btn-danger">
						<i class="fa fa-heart"></i>
						Like</a>
				</p>
			</div>
		</div>
	</div>
</div>
