{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}


{% block body %}

<div class="container">
    <h4 class="text-center my-3">Liste des conversations</h4>

    <div class="alert alert-primary">
        Vous avez actuellement {{ conversations | length }} conversation(s) en cours.
    </div>
    <a href="{{ path('create_conversation_admin') }}" class="btn btn-success">
        Créer une conversation admin
    </a>
    <div class="liste-conversations">
        {% for conversation in conversations %}
        {% set message = conversation.getMessages() | last %}

        <div class="card card-hover my-3 {% if not message.isRead and message.author != app.user %} text-white bg-primary {% else %} bg-light {% endif %}">
            <a
                    href="{{ path("show_conversation", {'idConversation':conversation.id }) }}">
                <div class="card-body">
                        <h6 class="text-center">
                            Conversation avec
                            {% set lastParticipant = conversation.participants | last %}
                            {% for participant in conversation.participants %}

                                {% if  participant.id != app.user.id %}
                                    {{ participant.pseudo }}
                                {% endif %}
                            {% endfor %}
                        </h6>

                    {% set user = conversation.getParticipants() | last %}
                    <div class="card-title">
                        <div class="row">

                            <div class="col-1">
                                {% if user.media %}
                                <img src="{{ vich_uploader_asset(user.media, 'imageFile', 'App\\Entity\\Media') }}"
                                     alt="Avatar de {{ user.pseudo }}"
                                     class=" avatar avatar-medium img img-rounded img-fluid"/>
                                {% else %}
                                    <img src="{{ asset('images/image-user.png') }}"
                                         alt="Avatar de {{ user.pseudo }}"
                                         class="avatar avatar-medium img img-rounded img-fluid"/>
                                {% endif %}
                            </div>
                            <div class="col-6 ml-3">
                                <div class="row">
                                                <span class="mr-3 text-fullName-conversation">
                                                    {{ user.fullName }}
                                                </span>

                                </div>
                                <div class="row">
                                    <div class="conversation-last-message text-secondary mt-2">{{ message.content | striptags }}
                                        <div class="date-msg mt-2 text-small">
                                            <small>{{ message.createdAt | date('d/m/Y H:i') }}</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
    </div>
</div>

<div class="pagination justify-content-center m-3">
    {{ knp_pagination_render(conversations) }}
</div>
{% endblock %}



