{% extends 'admin/base.html.twig' %}

{% block title %}Administration des témoignages{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Gestion des témoignages</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Accueil</a></li>
                        <li class="breadcrumb-item active">Témoignages</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Id</td>
                <td>Date</td>
                <td>Auteur</td>
                <td>Témoignage</td>
                <td>Fonction</td>
                <td>Note</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for temoignage in temoignages %}
                <tr>
                    <td>{{temoignage.id}}</td>
                    <td>{{temoignage.createdAt | date('d/m/Y')}}</td>
                    <td><a href="{{ path('user_show', {'pseudo' : temoignage.author.pseudo}) }}">{{temoignage.author.fullName}}</a></td>
                    <td>{{temoignage.content | raw}}</td>
                    <td>{{temoignage.fonction}}</td>

                    <td><span class="badge badge-dark rounded">{{temoignage.rating}}</span></td>
                    
                    <td>
                        <a href="{{path('admin_temoignage_edit', {'id':temoignage.id})}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a href="{{path('admin_temoignage_delete', {'id': temoignage.id})}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
